.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #5DE95D;
  }
  
  .cell {
    cursor: pointer;
    width: 150px;
    height: 150px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #31C3C3;
  }

@media only screen and (max-width: 600px) {
  .cell {
    width: 30vw;
    height: 30vw; 
    font-size: 15px; 
  }
}

  .top-left {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }

  .top-center {
    border-bottom: 1px solid black;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
  }

  .top-right {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  
  .middle-left {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }

  .middle-right {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }

  .bottom-left {
    border-right: 1px solid black;
  }

  .bottom-center {
    border-top: 1px solid black;
  }
  
 .bottom-right {
    border-left: 1px solid black;;
 }